body{
    background-color: whitesmoke;
    font-family:Roboto,sans-serif;
}

.navigation h1{
    position:relative;
    margin-top:0;
}

nav{
    box-shadow:3px 3px 5px grey;
}
.center-title h3{
    text-align:center;
}