{% extends "base.html" %}

{% block title %} Register/Login {% endblock %}

{% block content %}

    <form method="post">

        <div class="input-group">
            <input type="text" name="username" class="form-control" value="{{
                    username }}" placeholder="Username" style="width:300px">
            <span class="error">{{ error_username }}</span><br><br>
        </div>

        <div class="input-group">
            <input type="password" name="password" value=""
                   placeholder="Password" class="form-control"
                   style="width:300px">
            <span class="error">{{ error_password }}</span><br><br>
        </div>

        <div class="input-group">
            <input type="password" name="verify_password" value=""
               placeholder="Verify password" class="form-control"
            style="width:300px">
        <span class="error">{{ error_verify_password }}</span><br><br>
        </div>

        <div class="input-group">
            <input type="email" name="email" value="{{ email }}"
               placeholder="Email(optional)" class="form-control"
            style="width:300px">
        <span class="error">{{ error_email }}</span><br><br>
        </div>

        <input type="submit" value="SignUp" class="btn btn-primary">
        <br>
        <a href="/login">Already a member?</a>
    </form>

{% endblock %}